<ion-grid>
  <ion-row>
    <ion-col size="12">
      <div class="coin-profile" *ngIf="cryptoData">
        <div class="coin-icon">
          <img class="profile__img" [src]="cryptoData?.data.coins[0].iconUrl" alt="Bitcoin (BTC) icon" width="40" height="40">
        </div>
        <div class="coin-name" margin-horizontal>
          <ion-label><strong>{{cryptoData?.data.coins[0].symbol}} | {{cryptoData?.data.coins[0].name}}</strong></ion-label>
        </div>
        <div class="coin-price" margin-horizontal>
          <ion-label><strong>{{cryptoData?.data.coins[0].price | currency:cryptoData?.data.base.sign}}</strong></ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row margin-vertical>
    <ion-col text-center>
      <ion-label><strong>{{cryptoData?.data.coins[0].name}} - {{history}} Price Chart</strong></ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <canvas id="chart" style="display: block;" class="chartjs-render-monitor"></canvas>
    </ion-col>
  </ion-row>
  <ion-row margin-vertical>
    <ion-col text-center>
      <ion-button shape="round" fill="clear" size="small" *ngFor="let history of ['24h','7d', '30d', '1y', '5y']; let i = index" [ngClass]="{ 'active-history' : activeIndex === i }"
                  padding-horizontal (click)="changeHistory(i, history, base)">{{history}}</ion-button>
    </ion-col>
  </ion-row>
    <ion-row margin-vertical>
        <ion-col>
            <ion-label class="statistics-title">Statistics</ion-label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-xl="3" size-xs="12">
            <ion-card>
                <ion-card-content>
                    <div class="card-items" margin-vertical>
                        <ion-label class="item-title">Rank</ion-label>
                        <ion-label class="item-subtitle">{{cryptoData?.data.coins[0].rank}}</ion-label>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size-xl="3" size-xs="12">
            <ion-card>
                <ion-card-content>
                    <div class="card-items" margin-vertical>
                        <ion-label class="item-title">All Time High</ion-label>
                        <ion-label class="item-subtitle">{{cryptoData?.data.base.sign}}{{cryptoData?.data.coins[0].allTimeHigh.price | numeral}}</ion-label>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size-xl="3" size-xs="12">
            <ion-card>
                <ion-card-content>
                    <div class="card-items" margin-vertical>
                        <ion-label class="item-title">Market Cap</ion-label>
                        <ion-label class="item-subtitle">{{cryptoData?.data.base.sign}}{{cryptoData?.data.coins[0].marketCap | numeralInt}}</ion-label>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size-xl="3" size-xs="12">
            <ion-card>
                <ion-card-content>
                    <div class="card-items" margin-vertical>
                        <ion-label class="item-title">24H Trade Volume</ion-label>
                        <ion-label class="item-subtitle">{{cryptoData?.data.base.sign}}{{cryptoData?.data.coins[0].volume | numeralInt }}</ion-label>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>

<ion-grid>
    <ion-row>
        <ion-col size-xl="6" size-xs="12" margin-top>
            <div class="description-block">
                <div class="description-title" margin-bottom>What is {{cryptoData?.data.coins[0].name}}</div>
                <div class="description-content">{{cryptoData?.data.coins[0].description}}</div>
            </div>
        </ion-col>
        <ion-col size-xl="6" size-xs="12" margin-top>
            <div class="link-block">
                <div class="link-title" margin-bottom>Links</div>
                <div class="link-content">
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col size="3" class="link-item-title">
                                Website
                            </ion-col>
                            <ion-col class="link-item-subtitle">
                                {{cryptoData?.data.coins[0].websiteUrl}}
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="3" class="link-item-title">
                                Socials
                            </ion-col>
                            <ion-col class="link-item-subtitle">
                                <ion-grid>
                                    <ion-row>
                                        <ion-col size-xl="5" size-xs="12" *ngFor="let social of cryptoData?.data.coins[0].socials">
                                            <ion-label >
                                                <ion-icon name="logo-{{social.type}}" ></ion-icon><span style="font-weight: 600">{{social.name}}</span>
                                            </ion-label>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
