<ion-app>
    <ion-split-pane>
    <ion-menu type="overlay">
        <ion-content padding>
            <ion-list>
                <ion-list-header>
                    <ion-label>Apps</ion-label>
                </ion-list-header>
                <ion-menu-toggle auto-hide="false">
                    <ion-item lines="none" routerLink="/cryptotracker">
                        <ion-icon name="logo-bitcoin" slot="start"></ion-icon>
                        <ion-label>Bitcoin Exchange</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle auto-hide="false">
                    <ion-item lines="none" routerLink="/currency">
                        <ion-icon name="cash" slot="start"></ion-icon>
                        <ion-label>Currency Exchange</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-list-header margin-top> <!-- Place for when authentication is included -->
                    <ion-label>Settings</ion-label>
                </ion-list-header>
                <ion-menu-toggle auto-hide="false">
                    <ion-item>
                        <ion-icon name="exit" slot="start"></ion-icon>
                        <ion-label>Logout</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
