<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Crypto Tracker</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="preferencePopover($event)">
                <ion-icon name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col class="list-item" size="4">
                        <ion-label class="coin-header">Cryptocurrencies
                        </ion-label>
                    </ion-col>
                    <ion-col class="list-item" size="4">
                        <ion-label class="coin-header">Price
                        </ion-label>
                    </ion-col>
                    <ion-col class="list-item" size="4">
                        <ion-label class="coin-header">24H Change
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item *ngFor="let coin of cryptoData?.data?.coins" lines="none" [disabled]="coin.price === 'Infinity'" (click)="navigateToCoinDetail(coin.id, coin.slug)">
            <ion-grid>
                <ion-row>
                    <ion-col class="list-item" size="4" style="justify-content: left">
                        <img [src]="coin.iconUrl" alt="Bitcoin (BTC) icon" class="coin__logo"
                             height="23" width="23"/>
                        <ion-label class="coin-item coin-sym">{{coin.name}}
                        </ion-label>
                    </ion-col>
                    <ion-col class="list-item" size="4">
                        <ion-label class="coin-item" *ngIf="coin.price !== 'Infinity';else nullContent">{{coin.price | currency:cryptoData?.data.base.sign}}</ion-label>
                    </ion-col>
                    <ion-col class="list-item" size="4">
                        <ion-label class="coin-item">{{coin.change}}%</ion-label>
                        <div [coinData]="coin" class="sparkline" onCreate></div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-infinite-scroll (ionInfinite)="loadData($event, offset+50, limit, base)" threshold="100px">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>
</ion-content>
<ng-template #nullContent>null</ng-template>
